.blogLink {
	color: black !important;
}

.blogLink:hover {
	color: #1a8dc7 !important;
}


.centerContainer {
	margin: 0 auto;
	height: Calc(100% - 100px);
}

.containerEntry {
	width: 70%;
	margin: 0 auto;
}

.containerEntryImgHeader {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

.blogImgHeader {
	width: 90%;
	height: 350px;
}

.containerBody {
	text-align: center;
}

.containerBodyTitle {
	text-align: center;
}

.containerBodyText {
	padding-bottom: 30px;
}

.notebook_iframe {
	width: 100%;
	height: 100%;
	display: block;
}