#header {
	font: 700 18px/35px 'Source Sans Pro',sans-serif;
	position: fixed;
	border-bottom: 1px solid #ececed;
	background: #fff;
	height: 100px;
	width: 100%;
	top: 0;
	left: 0;
}

a {
	text-decoration: none;
}

.globalContainer {
	width: calc(100% - 50px);
	max-width: 1300px;
	margin: 0 auto;
	padding: 0px 25px;
	position: relative;
	height: 100%;
}


.logoImg {
	height: 100px;
}

.logoContainer {
	display: inline-block;
}

.navbar {
	display: inline-block;
	position: absolute;
	top: 32px;
	right: 80px;
}

.navbarItem {
	padding: 6px 30px;
	color: black;
}

.navbarItemContainer {
	color: black;
	display: table-cell;
	border-right: 2px solid #1a8dc7
}

.navbarItemContainer:hover {
	background: #1a8dc7;
}

.navbarItemContainer:hover > .navbarItem {
	color: white;
}

.navSelected {
	background: #1a8dc7;
}

.navSelected > .navbarItem {
	color: white;
}

.headerDrop {
	position: fixed;
	top: 100px;
	width: 100%;
	left: 0px;
	z-index: 10;
	background: white;
	display: none;
}

.dropContent {
	margin: 0 auto;
	padding-bottom: 30px;
	border-bottom: 1px solid #ececed;
	z-index: 2;
	display: none;
}

.showDrop {
	display: block;
}

.dropCol {
	display: inline-block;
	margin-left: Calc(25% - 50px);
}

.dropItem {
	margin-top: 20px;
	font: 700 18px/35px 'Source Sans Pro',sans-serif;
	padding-right: 50px;
	border-bottom: 1px solid #1a8dc7;
}

.dropText {
}

.dropDesc_C {
	width: 250px;
	margin-top: 10px;
	position: absolute;
	top: 35px;
}

.dropContainer {
	height: 100px;
	position: relative;
}

.dropContainer:hover {
	color: #1a8dc7;
	cursor: pointer;
}

.dropContainer:hover > .dropItem {
	border-bottom: 2px solid #1a8dc7;
}

.makeOpaque {
	background: rgba(156, 215, 245, .82);
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.frame {
	width: 100%;
	height: 100%;
	margin-top: 5px;
	margin-bottom: 20px;
}

.frameImage {
	width: 100%;
	height: 100%;
}

.frameImageContainer {
	display: inline-block;
	border-right: 4px solid white;
	position: relative;
	float: left;
	padding-left: 4px;
	padding-top: 2px;
	overflow: hidden;
	width: Calc(50% - 10px);
}

.miniFrameImageContainer {
	display: inline-block;
	float: left;
	width: Calc(35% - 4px);
	height: 60%;
}

.frameImageMini {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.imageWrapper {
	width: 100%;
	height: 50%;
	display: inline-block;
	position: relative;
	font: 700 30px 'Source Sans Pro',sans-serif;;
}

.imageWrapperText {
	position: absolute;
	top: 18%;
	left: 10%;
	font-weight: bold;
	color: darkslategrey;
}

.opaqueOverlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	display: none;
}

.frameImageContainer:hover > .opaqueOverlay {
	display: block;
}

.title1 {
	color: white;
	border-bottom: 2px solid #1a8dc7;
	position: absolute;
	top: 10%;
	left: 10%;
	font: 700 18px/35px 'Source Sans Pro',sans-serif;
}

.title2 {
	color: white;
	position: absolute;
	top: 20%;
	left: 15%;
	font: 700 18px/35px 'Source Sans Pro',sans-serif;
	font-size: .9em;
	margin-right: 50px;
}

.title3 {
	position: absolute;
	border: 2px solid white;
	padding: 10px 20px;
	width: 140px;
	color: white;
	font: 700 18px/35px 'Source Sans Pro',sans-serif;
	bottom: 5%;
	right: 15%;
	text-align: center;
}

.title3:hover {
	cursor: pointer;
	background: #1a8dc7;
	border-color: #1a8dc7;
}

@media only screen and (max-width: 1135px) {
    .frame {
        width: 1135px;
    }
    body {
    	overflow-x: scroll;
    	width: 100%;
    }
}

